@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="d-flex flex-column">
        <li class="d-flex align-items-center py-2">
            <span class="bullet me-5"></span> Item 1
        </li>
        <li class="d-flex align-items-center py-2">
            <span class="bullet me-5"></span> Item 2
        </li>
        <li class="d-flex align-items-center py-2">
            <span class="bullet me-5"></span> Item 3
        </li>
        <li class="d-flex align-items-center py-2">
            <span class="bullet me-5"></span> Item 4
        </li>
        <li class="d-flex align-items-center py-2">
            <span class="bullet me-5"></span> Item 5
        </li>
    </div>
</div>
